@model MathOperationModel
<h1>Results</h1>
<p>
    Left Operand Entered: @Model.LeftOperand <br/>
    Right Operand Entered: @Model.RightOperand<br/>
    Operator Entered: @Model.Operator<br/>

    Result: @Model.Result<br/>
</p>